# {{ ansible_managed }}

resolvers dns
    parse-resolv-conf
    hold valid 10s

{% for host in prometheus_scan_hosts %}
{% if 'node' in hostvars[host].prometheus_exporters|default([]) %}
frontend node-{{ host }}-frontend
    bind 127.0.0.2:{{ 19000 + loop.index }}
    mode http
    default_backend node-{{ host }}-backend

backend node-{{ host }}-backend
    mode http
    server-template remote 3 {{ host }}:9101 ssl crt /etc/haproxy/prometheus-server.pem ca-file /etc/haproxy/prometheus-ca.pem verify required resolvers dns init-addr none

{% endif %}
{% endfor %}
