# {{ ansible_managed }}

{% for host in prometheus_scan_hosts %}
{% if 'node' in hostvars[host].prometheus_exporters|default([]) %}
frontend node-{{ host }}-frontend
    bind 127.0.0.2:{{ 19000 + loop.index }}
    mode http
    default-backend node-{{ host }}-backend

backend node-{{ host }}-backend
    mode http
    server remote {{ host }}:9100 ssl crt /etc/haproxy/prometheus-server.pem ca-file /etc/haproxy/prometheus-ca.pem verify required init-addr none

{% endif %}
{% endfor %}
