---
# {{ ansible_managed }}

global:
  scrape_interval: {{ prometheus_scrape_interval }}

rule_files:
  - /etc/prometheus/recording-rules/*.rule
  - /etc/prometheus/alerting-rules/*.rule

scrape_configs:
  - job_name: 'node'
    scheme: 'https'
    tls_config:
      ca_file: /etc/prometheus/prometheus-ca.pem
      cert_file: /etc/prometheus/prometheus-client.pem
      key_file: /etc/prometheus/prometheus-client.key
    static_configs:
{% for host in prometheus_scan_hosts %}
{% if 'node' in hostvars[host].prometheus_exporters|default([]) %}
      - targets: ["{{ host }}:9101"]
        labels:
          instance: {{ host }}
{% endif %}
{% endfor %}
  - job_name: 'nginx'
    scheme: 'https'
    tls_config:
      ca_file: /etc/prometheus/prometheus-ca.pem
      cert_file: /etc/prometheus/prometheus-client.pem
      key_file: /etc/prometheus/prometheus-client.key
    static_configs:
{% for host in prometheus_scan_hosts %}
{% if 'nginx' in hostvars[host].prometheus_exporters|default([]) %}
      - targets: ["{{ host }}:9114"]
        labels:
          instance: {{ host }}
{% endif %}
{% endfor %}

{% if (prometheus_alertmanagers | length) > 0 %}
alerting:
  alert_relabel_configs: []
  alertmanagers:
{% for alertmanager in prometheus_alertmanagers %}
    - {{ alertmanager | to_nice_yaml(indent=2) | indent(6) }}
{% endfor %}
{% endif %}
