---
# {{ ansible_managed }}

global:
  scrape_interval: {{ prometheus_scrape_interval }}

scrape_configs:
  - job_name: 'node'
    static_configs:
{% for host in prometheus_scan_hosts %}
{% if 'node' in hostvars[host].prometheus_exporters|default([]) %}
      - targets: ["127.0.0.2:{{ 19000 + loop.index }}"]
        labels:
          instance: {{ host }}
{% endif %}
{% endfor %}

{% if (prometheus_alertmanagers | length) > 0 %}
alerting:
  alert_relabel_configs: []
  alertmanagers:
{% for alertmanager in prometheus_alertmanagers %}
    {{ alertmanager | to_nice_yaml(indent=2) | indent(4) }}
{% endfor %}
{% endif %}
